.ta-deals{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $spacer-4 $spacer-3;
  padding-bottom: 0;
  border-radius: 14px;
  background: linear-gradient(267deg, #FF7B71 9.04%, #FF4A3C 93.1%);

  &-wrap{
    width: 100%;
    margin-bottom: $spacer-5;
  }

  &__cnt{
    width: 100%;
    margin-bottom: $spacer-2;
    order: 1;
  }

  &__text{
    font-size: 16px;
    font-weight: 600;
    color: $color-orange;

    &--bold{
      font-size: 48px;
      font-weight: 800;
      margin-right: $spacer-2;
    }
  }

  &__title{
    font-size: 24px;
    font-weight: 700;
    color: $color-white;
    text-transform: capitalize;
    margin-bottom: $spacer-2;
  }

  &__img{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    order: 3;
    margin-bottom: $spacer-3;
    img{
      width: 100%;
    }
  }

  &__btn-wrap{
    flex: 1;
    margin-left: $spacer-2;
    order: 2;
  }

  &__btn{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: $spacer-3 $spacer-4;
    border-radius: 4px;
    background-color: #FF9189;
  }

}

@include tablet{
  .ta-deals{
    flex-direction: row;
    flex-wrap: wrap;
    padding: $spacer-4 $spacer-5;
    &-wrap{
      padding-bottom: $spacer-3;
    }
    &__cnt{
      width: 40%;
      margin-bottom: 0;
    }

    &__img{
      width: 35%;
      order: 2;
    }

    &__btn-wrap{
      display: flex;
      align-items: center;
      justify-content: center;
      order: 3;
    }
  }
}

@include desktop{
  .ta-deals{
    padding-bottom: 0;
    &__title{
      font-size: 32px;
    }
    &__text{
      font-size: 20px;
      &--bold{
        font-size: 56px;
      }
    }


    &__cnt{
      width: 30%;
    }

    &__img{
      width: 45%;
      margin-bottom: 0;
    }
  }
}