.ta-dropdown{
  .btn{
    font-size: 13px;
    font-weight: 600;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #DADDE3;
    outline: none;
    box-shadow: none;
    padding: $spacer-2 $spacer-3;
    &:focus,
    &:hover{
    box-shadow: none;
      outline: none;
    }
  }
}